---
import { Icon } from "astro-icon/components";
import Content from "./Content.astro";

interface Props {
  title?: string;
  body?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
  colorText?: string;
  height?: string;
  width?: string;
}

const { title, body, colSpan, rowSpan, href, colorText, height } = Astro.props;
---

<div
  class={`card group bg-neutral-950 rounded-lg border border-neutral-800 ${
    colSpan || ""
  } ${rowSpan || ""} ${href && "hover:border-neutral-700 cursor-pointer"}`}
>
  <div class="p-4 h-full">
    {
      title && (
        <div class="mb-2">
          <h3 class={`font-medium ${colorText || "text-neutral-200"}`}>{title}</h3>
        </div>
      )
    }
    <slot />
  </div>
</div>
