---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Spree</li>
        <li>Ruby</li>
        <li>Python</li>
        <li>Flask</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about exploring new technologies and staying updated with the latest advancements in the tech world. I'm also a dedicated Swiftie, enjoying the creativity and storytelling in music. I like to think of myself as a moderator—someone who can guide, connect, and facilitate the exchange of valuable information.
    </p>
  </div>
</Card>
