---
import Card from "./Card/index.astro";
import { Icon } from 'astro-icon/components';
---

<Card colSpan="col-span-1" rowSpan="row-span-1">
  <div class="flex flex-col gap-2">
    <h3 class="text-xl font-serif text-neutral-200">Contact</h3>
    <ul class="flex flex-col gap-2 text-neutral-300">
      <li>
        <a href="https://github.com/nehachaudhari2811" target="_blank" class="flex items-center gap-2 hover:text-neutral-100">
          <Icon name="ri:github-fill" class="h-5" />
          GitHub
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/neha-chaudhari-2811" target="_blank" class="flex items-center gap-2 hover:text-neutral-100">
          <Icon name="ri:linkedin-box-fill" class="h-5" />
          LinkedIn
        </a>
      </li>
      <li>
        <a href="mailto:nehachaudhari2811@gmail.com" class="flex items-center gap-2 hover:text-neutral-100">
          <Icon name="ri:mail-fill" class="h-5" />
          Email
        </a>
      </li>
    </ul>
  </div>
</Card> 