---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components';
import Tooltip from "./Tooltip/index";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between gap-8 py-3">
      <div class="flex flex-col h-full">
        <h1 class="text-xl font-normal m-0 text-gray-200">Welcome</h1>
        <div class="mt-4">
          <p class="mb-6 text-2xl">Hi, I'm <b class="font-bold">Neha Chaudhari</b>,</p>
          <p class="text-lg leading-relaxed text-gray-200">A software developer specializing in backend development, cloud computing, and e-commerce solutions. Passionate about building scalable applications and optimizing system performance.</p>
        </div>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="GitHub Profile" target="_blank">
          <Button aria-label="GitHub Profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="LinkedIn Profile" target="_blank">
          <Button aria-label="LinkedIn Profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">LinkedIn Profile</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="Contact Me">
            <Icon name="ri:mail-line" class="h-6" />
            <span class="sr-only">Contact Me</span>
          </Button>
        </Tooltip>
      </div>
    </div>
  </div>
</Card>
