---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="text-lg">Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-base">Currently working as a Teaching Assistant to help students learn C# Desktop App development using .NET Framework.</p>
</Card>
